<div class="container">
    <h1>Konto loomine</h1>
    <form>
      <div class="form-group">
        <label for="username">Kasutajanimi</label>
        <input type="text" class="form-control" id="username" placeholder="Sisesta kasutajanimi">
      </div>
      <div class="form-group">
        <label for="email">Emaili aadress</label>
        <input type="email" class="form-control" id="email" placeholder="Sisesta email">
      </div>
      <div class="form-group">
        <label for="password">Salasõna</label>
        <input type="password" class="form-control" id="password" placeholder="Sisesta salasõna">
      </div>
      <button type="submit" class="btn btn-primary">Loo konto</button>
    </form>
  </div>